<ion-view title="Contato" id="page4" style="background-color:#A7CFD6;">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Nosso Site pra Contato</div>
            <div class="item item-body">
                <div style="margin-right:-20px;">
                    <a href="#" onclick="window.open('http://etecdrc.com.br/', '_system', 'location=yes'); return false;" id="contato-button10" style="left:-10px;" class="button button-dark button-small button-full button-clear">Click Aqui !</a>
                </div>
                <div id="contato-markdown11" style="color:#000000;"></div>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 71px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 17px;"></div>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 21px;"></div>
            <label class="item item-input">
                <span class="input-label">Mensagem</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="contato-button9" class="button button-dark  button-block">Enviar</button>
    </ion-content>
</ion-view>