<ion-view title="Etec" id="page3" style="background-color:#A7CFD6;">
    <ion-content padding="true" class="has-header">
        <h3 id="etec-heading1" style="color:#000000;font-style:italic;text-align:center;">A Escola</h3>
        <div>
            <img src="img/KNGjGA16TcS0gkWq0PgA_etec_saovicente.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="etec-markdown2" style="color:#000000;font-size:-4px;">
            <p>Uma instituição de ensino focada em ajudar jovens e adultos a conseguir uma formação técnica e um lugar amplo no emrcado de trabalho</p>
        </div>
        <h3 id="etec-heading3" style="color:#000000;">Centro Paula Souza</h3>
        <div>
            <img src="img/NVr3JbbwQg6hMuU0k8Xo_g7-x0asm.png" width="250" height="200" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="etec-markdown8" style="color:#000000;">
            <p>O Centro Paula Souza é uma autarquia do Governo do Estado de São Paulo, vinculada à Secretaria de Desenvolvimento Econômico, Ciência, Tecnologia e Inovação (SDECTI). A instituição administra 219 Escolas Técnicas Estaduais (Etecs) e 66 Faculdades
                de Tecnologia (Fatecs), reunindo mais de 283 mil alunos em cursos técnicos de nível médio e superiores tecnológicos, em mais de 300 municípios.</p>
        </div>
    </ion-content>
</ion-view>