<ion-view title="Inicio" id="page1" style="background-color:#A7CFD6;">
    <ion-content padding="true" class="has-header">
        <h3 id="inicio-heading6" style="color:#000000;text-align:center;">Bem vindo</h3>
        <ion-list>
            <ion-item ui-sref="menu.produto">Nosso produto</ion-item>
            <ion-item ui-sref="menu.oCurso">Plataforma Hibrida</ion-item>
            <ion-item ui-sref="menu.etec">A Escola</ion-item>
            <ion-item ui-sref="menu.contato">Contato</ion-item>
        </ion-list>
    </ion-content>
</ion-view>