<ion-view title="O Curso" id="page2" style="background-color:#A7CFD6;">
    <ion-content padding="true" class="has-header">
        <h3 id="oCurso-heading4" style="color:#000000;">Plataforma Hibrida</h3>
        <div>
            <img src="img/ICFg68swQQi6UAQ8Z0iX_cordova_bot.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="oCurso-markdown10" style="color:#000000;">
            <p>O curso ensina a usar a Ionic e Cordova para ajudar os alunos em seus Futuros TCCS ou até os que já estão fazendo terem uma base melhor do que já esta sendo feito usando tais plataformas Hibidras.</p>
        </div>
        <div>
            <img src="img/6nPofsR4Q66W6dbhruQY_ionic.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>