<ion-view title="Produto" id="page5" style="background-color:#A7CFD6;">
    <ion-content padding="true" class="has-header">
        <h3 id="produto-heading2" style="color:#000000;text-align:center;">App Horário</h3>
        <div id="produto-markdown9" style="color:#080808;">
            <p>será feito um aplicativo de horario para os alunos e professor que indicara quando e onde irão ter as aulas daquela respectiva semana.</p>
        </div>
        <div>
            <img src="img/wu1p51WQf2uYpmB7Tayp_tempo-thumb-800x335-114104.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="produto-markdown13" style="color:#000000;">
            <p>Com o objetivo d eajudar os alunos aentender melhor como funciona os programas</p>
        </div>
    </ion-content>
</ion-view>